{% extends 'recipes/base.html' %}

    {% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div>
                {{ field.label_tag }} <br>
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <small class="form-text text-danger">{{ error }}</small>
                {% endfor %}
            </div>
            <button type='submit'>Sign Up</button>
            {% endfor %}
        </form>

        <div class="border-top pt-3">
            <a href="#">Already have an account? Login here. </a>
        </div>
    </div>
    {% endblock content %}