{% extends "base.html" %}

{% block content %}
<div class='flex flex-col gap-8 w-full items-center justify-center'>
  <h1 class='text-5xl'>Sign Up</h1>
  <div class='flex flex-col p-8 bg-[#f5f5f5] rounded-md shadow-md'>
    <form method="post" class='flex flex-col gap-2'>
      {% csrf_token %}
     {{ form.as_p }}
     <button type="submit"
     class="bg-[#162435] px-6 py-1 rounded-full self-center mt-6 font-medium hover:bg-[#999] transition-all">
       <p class='text-white'>Sign Up</p>
     </button>
    </form>
  </div>
</div>

{% endblock %}