{% extends 'base.html' %}

{% block content %}
<div class='flex'>
    <img src="{{recipe.image.url}}" 
    alt="{{recipe.title}}" class="flex object-cover w-full h-screen sticky top-0">
    <div class='px-16 pb-16 w-full'>
        <p class='text-lg mb-4'>Tantalise your Tastebuds!</p>
        <h2 class='text-5xl mb-4'>{{ recipe.title }}</h2>

        <p>{{ recipe.description|safe }}</p>

		<p>{{ recipe.ingredients|safe }}</p>
		<p>{{ recipe.instructions|safe }}</p>

        {% comment %} <div class='mt-16'>
            <div class='flex items-center mb-8 gap-4'>
                <div class='flex flex-col items-center'>
                    <img src="{{ recipe.agent.avatar.url }}" alt="{{ recipe.agent.user.first_name }} {{ recipe.agent.user.last_name }}" class='w-48 rounded-full'>
                    <a href={% url 'agent_detail' recipe.agent.id %} class='text-sm text-[#999]' >View Profile</a>
                </div>
                <div class=''>
                    <h2 class='text-3xl mb-1'>{{ recipe.agent.user.first_name }} {{ recipe.agent.user.last_name }}</h2>
                    <p class='mb-2'>{{ recipe.agent.bio }}</p>
                    <a class='inline-block bg-[#162435] px-6 py-2 rounded-full'
                    href="mailto:{{recipe.agent.user.email}}" >
                        <p class='text-lg text-white'>Book Now</p>
                    </a>
                </div>
            </div>
        </div> {% endcomment %}
    </div> 
</div>
{% endblock %}
