{% extends 'base.html' %}
{% block content %}
<div class="mt-20">
	<form method="post" class='flex flex-col items-center gap-4'>
		{% csrf_token %}
		<h3>Are you sure you want to delete "{{ object }}"?</h3>
		{{ form }}
		<div class="flex gap-2">
			<a  href={% url 'profile' user.id %}
				class="px-4 py-2 tracking-wide rounded-full text-white self-center"
				style="background-color: var(--primary-color)"
				>Cancel</a>
			<button
                type='submit'
				class="px-4 py-2 tracking-wide rounded-full text-white self-center"
				style="background-color: var(--misc-one)"
				>Yes, Delete</button>
		</div>
	</form>
</div>
{% endblock %}
