/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

/* Colours */

:root {
	--primary-color: #162435;
	--accent-color: #689689;
	--misc-one: #f06543;
	--misc-two: #f09d51;
	--font-title: #222222;
	--font-body: #656565;
}

/* Referencing fonts as classes to improve HTML + TailwindCSS readability. */
.jost {
	font-family: "Jost", sans-serif;
}

.georgia {
	font-family: "Georgia", serif;
}

/* General Styles */

body {
	margin: 0;
	padding: 0;
}

h1,
h2 {
	font-family: "Georgia", serif;
}

h2,
h3,
p,
a {
	font-family: "Jost", sans-serif;
}

h1 {
	font-size: 2.5rem;
	color: var(--font-title);
}

h2 {
	font-size: 2rem;
	color: var(--font-title);
}

h3 {
	font-size: 1.5rem;
	color: var(--font-title);
}

p {
	font-size: 1rem;
	color: var(--font-body);
}

footer a,
footer p {
	color: white;
}
/* Utility Classes */

/* These CSS classes are used to help with TailwindCSS not performing correctly in some cases. */

.h-300 {
	height: 300px;
}

.w-max-header {
	max-width: 50%;
}

.bg-primary {
	background-color: var(--primary-color);
}

.nav-bar a,
.nav-bar i {
	transition: all ease 0.3s;
}

.nav-bar a:hover,
.nav-bar i:hover {
	opacity: 0.7;
	cursor: pointer;
}

.home-input {
	color: white;
	background-color: var(--accent-color);
	margin: 10px 0;
	transition: all ease 0.3s;
}

.home-input:hover {
	opacity: 0.85;
}

.home-input > input::placeholder {
	color: white;
}

.home-input > input:focus,
.home-input > input:active {
	outline: none;
	background: transparent;
}

#food-card {
	transition: all ease 0.3s;
}

#food-card:hover {
	transform: scale(1.05);
}

#form-add-recipe div {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
}


#form-add-recipe div label {
	color: var(--font-title);
	margin-bottom: 4px;
}

#form-add-recipe div input, 
#form-add-recipe div textarea {
	flex-grow: 1;
	color: var(--font-body);
	border: 2px solid var(--accent-color);
	border-radius: 8px;
	padding: 4px;
}

