/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

/* Colours */

:root {
	--primary-color: #162435;
	--accent-color: #689689;
	--misc-one: #f06543;
	--misc-two: #f09d51;
	--font-title: #222222;
	--font-body: #656565;
}

/* Referencing fonts as classes to improve HTML + TailwindCSS readability. */
.jost {
	font-family: "Jost", sans-serif;
}

.georgia {
	font-family: "Georgia", serif;
}

/* General Styles */

body {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2.5rem;
	color: var(--font-title);
}

h2 {
	font-size: 2rem;
	color: var(--font-title);
}

h3 {
	font-size: 1.5rem;
	color: var(--font-title);
}

p {
	font-size: 1rem;
	color: var(--font-body);
}

/* Utility Classes */

.h-300 {
	height: 300px;
}

.bg-primary {
	background-color: var(--primary-color);
}
