<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Find amazing recipes from around the world.">
        
		{% if title %}
		<title>{{title}}</title>
		{% else %}
		<title>Recip | Find Amazing Recipes from Around the World</title>
		{% endif %} {% load static %}
		<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
		<!-- Import TailwindCSS -->
		<script src="https://cdn.tailwindcss.com"></script>
        <!-- Import FontAwesomeIcons-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	</head>

	<body class="">
		<nav style="color: var(--font-title);" class="flex flex-row jost font-medium text-lg align-middle px-16 py-6">
			<div class="justify-start flex-grow">
				<a href="#" class="text-xl font-bold">Recip.</a>
			</div>
			<div class="space-x-10 mr-10">
					<a href="{% url 'home' %}">Home</a></li>
                    <a href="{% url 'recipes_list' %}">Recipes</a></li>
					<a href="{% url 'about' %}">About</a></li>
                    <i class="fas fa-search"></i>
			</div>
			<div class="">
				{% if user.is_authenticated %}
				<a href="#">My Profile</a>
				<a href="#">Logout</a>
				{% else %}
				<a href="{% url 'login' %}">Login</a>
				{% endif %}
			</div>
		</nav>
		{% block content %}{% endblock %} 
	</body>
</html>
